<header class="dashboard-header">
  <div class="dashboard-logo">
    <img src="../assets/img/logo.png" alt="Saúde+">
  </div>

  <nav class="dashboard-nav">
    <a href="busca.html">AGENDAMENTO</a>
    <a class="active" href="minha_area.html">MINHA ÁREA</a>
    <a href="quem_somos.html">QUEM SOMOS NÓS</a>
  </nav>

  <div class="dashboard-icons">

    <div class="dropdown-container">
      <div class="dropdown-header" id="dropdownHeader">
        <i class="fa-regular fa-user"></i>
      </div>

      <div class="dropdown-menu hidden" id="dropdownMenu">
        <a href="#">Minha conta</a>
        <a href="#">Mensagens</a>
        <a href="#">Preferências</a>
        <a href="#">Ajuda</a>
      </div>
    </div>

    <div class="logout-dropdown-container">
      <div class="logout-dropdown-header" id="logoutDropdownHeader">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
      </div>

      <div class="logout-dropdown-menu hidden" id="logoutDropdownMenu">
        <a href="#">Sair da conta</a>
      </div>
    </div>
  </div>
</header>