* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f8ffff;
}



header {
  background-color: #b5faf0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #26ac98;
}

.logo img {
  height: 60px;
}

nav a {
  margin: 0 25px;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bold;
}

nav .active {
  border-bottom: 2px solid #1a1a1a;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

.dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-header {
  font-size: 22px;
  color: #000;
}

.dropdown-menu {
  position: absolute;
  top: 65px;
  right: 0;
  background-color: #45c7c7;
  border: 2px solid #000;
  width: 200px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  z-index: 10;
}

.dropdown-menu a {
  display: block;
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}

.dropdown-menu a:last-child {
  border-bottom: none;
}

.dropdown-menu a:hover {
  background-color: #b5faf0;
}


.logout-dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-dropdown-header {
  font-size: 22px;
  color: #000;
  padding: 5px;
}

.logout-dropdown-menu {
  position: absolute;
  top: 65px;
  right: 0;
  background-color: #45c7c7;
  border: 2px solid #000;
  width: 160px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  z-index: 10;
}

.logout-dropdown-menu a {
  display: block;
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}

.logout-dropdown-menu a:last-child {
  border-bottom: none;
}

.logout-dropdown-menu a:hover {
  background-color: #b5faf0;
}

.dropdown-container::before {
  content: "";
  position: absolute;
  top: 18px;
  right: -10px;
  width: 60px;
  height: 60px;
  background-color: #b5faf0;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: -1;
}

.hidden {
  display: none;
}


.search-area {
    text-align: center;
    margin: 30px 0;
    margin-top: 90px;
    font-size: 18px;
    font-weight: bold;
}

.search-area label {
    display: block;
    margin-bottom: 12px;
}

.search-box {
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.search-box input {
    width: 100%;
    padding: 12px 20px;
    border: none;
    outline: none;
}

.search-box button {
    width: 55px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #0a6c63;
}


.card-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 80%;
    background: white;
    border: 2px solid #ccc;
    display: flex;
    padding: 25px;
    border-radius: 10px;
}

.card-img {
    width: 300px;
    border-radius: 5px;
}

.card-info {
    margin-left: 35px;
    font-size: 16px;
    color: #333;
}

.card-info h2 {
    margin-bottom: 10px;
    color: #125f67;
}

.card-info p {
    margin: 6px 0;
}


.btn-main {
    margin: 20px 0;
    background: #27b59a;
    padding: 12px 30px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-group {
    display: flex;
    gap: 12px;
}

.btn-secondary {
    background: #27b59a;
    padding: 12px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
}


footer {
    margin-top: 200px;
    text-align: center;
    padding: 12px;
    color: #333;
    font-size: 14px;
}
