
footer {
    text-align: center;
    font-size: 12px;
    color: #000;
    margin-bottom: 10px;
    font-style: italic;
}

footer {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

footer.loaded {
  opacity: 1;
  transform: translateY(0);
}
