
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #b5faf0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    background-color: #ffffff;
    width: 1400px;
    height: 625px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(97, 171, 160, 1); 
    overflow: hidden; 
    border: 2px solid #000000;
    margin: 0 auto; 
    position: relative;
}

.login-image {
    width: 650px;
    height: 625px;
    background-image: url('/assets/img/SaudeMais.png');
    background-size: cover;
    background-position: center;
}

.login-form {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form h2 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #000000;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #1d8e7e;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 25px;
  gap: 10px; 
}

.left-options {
  display: flex;
  align-items: center;
  gap: 100px;
}

.left-options a {
  color: #26ac98;
  text-decoration: none;
}

.register-link{
    color: rgba(0,0,0,0)
}

.recovery{  
    color: #26ac98;
}

.left-options a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;
}
.login-button {
    width: 60%;
    padding: 12px;
    background-color: #26ac98;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.login-button:hover {
    background-color: #1d8e7e;
    transform: translateY(-2px);
}

footer {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.icon-circle {
  background-color: white;
  color: #3cc2b4;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle i {
  font-size: 14px;
}

.footer {
  font-size: 14px;
  color: #777;           
  font-style: italic;     
  text-align: right;      
  position: absolute;     
  bottom: 15px;           
  right: 20px;          
  opacity: 0.8;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 45px; /* espaço para o ícone */
  padding-left: 20px;
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  height: 45px;
  box-sizing: border-box;
}

.password-wrapper i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  font-size: 18px;
  transition: color 0.3s;
}

.password-wrapper i:hover {
  color: #26ac98;
}
