* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: #b5faf0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #26ac98;
}

.logo img {
  height: 70px;
}

nav a {
  margin: 0 25px;
  text-decoration: none;
  color: #0a6c63;
  font-weight: bold;
  text-decoration: none;
}

nav .active {
  border-bottom: 2px solid #1a1a1a;
}

.icons-header {
  display: flex;
  gap: 20px;
  font-size: 22px;
  color: #1a1a1a;
  cursor: pointer;
}

/* ===== CONTEÚDO PRINCIPAL ===== */
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 40px;
  background-color: #ffffff;
}

/* ===== CAIXAS ===== */
.box {
  width: 40%;
  border: 2px solid #00a0a0;
  background-color: #e9ffff;
  padding: 25px;
  min-height: 420px;
}

.box h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  color: #1a1a1a;
}

/* ===== CARDS ===== */
.card {
  border: 2px solid #000;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.card .info p {
  margin-bottom: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
}

.actions button {
  background: none;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.icons-exams {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
  font-size: 20px;
}

/* ===== TEXTO "NÃO HÁ MAIS..." ===== */
.none {
  text-align: center;
  color: #a0a0a0;
  margin-top: 20px;
}

/* ===== RODAPÉ ===== */
footer {
  background-color: #b5faf0;
  color: #000;
  text-align: center;
  padding: 15px;
  border-top: 3px solid #26ac98;
  margin-top: 50px;
}

/* ===== DROPDOWN ESTILIZADO ===== */
.dropdown-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.dropdown-header {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
  color: #000;
  cursor: pointer;
}

/* ===== MENU ABERTO ===== */
.dropdown-menu {
  position: absolute;
  top: 65px;
  right: 0;
  background-color: #45c7c7;
  border: 2px solid #000;
  width: 200px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  z-index: 10;
  transition: 0.3s ease;
}

.dropdown-menu a {
  display: block;
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}

.dropdown-menu a:last-child {
  border-bottom: none;
}

.dropdown-menu a:hover {
  background-color: #b5faf0;
}

.hidden {
  display: none;
}

.dropdown-container::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 60px;
  width: 60px;
  height: 60px;
  background-color: #b5faf0;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: -1;
}
