* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: #b5faf0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #26ac98;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

header.loaded {
  opacity: 1;
  transform: translateY(0);
}

.logo img {
  height: 60px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bold;
  position: relative;
}

nav .active {
  border-bottom: 2px solid #1a1a1a;
}



main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 40px;
  background-color: #ffffff;
}

.box {
  width: 40%;
  border: 2px solid #00a0a0;
  background-color: #e9ffff;
  padding: 25px;
  min-height: 420px;
}

.box h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  color: #1a1a1a;
}

.card {
  border: 2px solid #000;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.card .info p {
  margin-bottom: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
}

.actions button {
  background: none;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.icons-exams {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.none {
  text-align: center;
  color: #a0a0a0;
  margin-top: 20px;
}

footer {
  background-color: #b5faf0;
  color: #000;
  text-align: center;
  padding: 15px;
  border-top: 3px solid #26ac98;
  margin-top: 50px;
}
