@import url('login.css');


.login-form h2 {
  font-size: 26px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.info-text {
  font-size: 15px;
  color: #555;
  text-align: center;
  margin-bottom: 25px;
  line-height: 1.5;
}

.input-group {
  width: 100%;
  margin-bottom: 25px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #000000;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
}

.input-group input:focus {
  border-color: #1d8e7e;
}

.login-button {
  width: 60%;
  padding: 12px;
  background-color: #26ac98;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.login-button:hover {
  background-color: #1d8e7e;
  transform: translateY(-2px);
}

.options {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.options a {
  color: #26ac98;
  text-decoration: none;
  font-weight: bold;
}

.options a:hover {
  text-decoration: underline;
}
